header {
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
}

.container-header {
    max-width: 975px;
    margin: 0 auto;
    padding: 0 1.5em;

    /* border: 1px solid magenta; */
}

.logo-instagram {
    margin: 1.5em 0em 0.7em;
    max-width: 100%;
}

